<form action="/addJob/role" method="POST">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h3>Asign project</h3>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-secondary" href="/allProject"><i class="fa fa-arrow"> Button</i></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        {{#each list}}
                        <li>
                            {{this.jobName}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control" name="jobt" placeholder="Enter Job type">
                            <div class="text-danger">
                                {{jobError}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Submit</button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>